main {
    text-align: center;
}
.tabuleiro div input {
    width: 100px;
    height: 100px;
    margin:5px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 30px;
    cursor: pointer;
}

body{
    background-image: url(../img/fazenda99.jpg);
}