body {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:#ffffff;
    font-family:Inter;
    font-weight: 700;
}
input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
}
fieldset {
    border:none;
    padding: 3.6rem 0;
    border-bottom: 3px solid #3b3b4f;
    vertical-align: middle;
}
label {
    display: block;
    margin: 0.5rem 0;
    font-size: 2rem;
    padding: 1rem;
}
input {
    font-size: 1.5rem;
}
input, textarea {
    background-color: rgba(36, 34, 34, 0.596);
    border: 1px solid #252525;
    color: #ffffff;
}
hr {
    border:none;
    border-bottom: 3px solid #3b3b4f;  
}
input[type="submit"] {
    display: block;
    width: 0,5%;
    margin: 0.5em auto;
    height: 2em;
    font-size: 1.3rem;
    background-color: #328B2A;
    border-color: #328B2A;
    min-width: 300px;
  }
input[type="text"] {
    width: 35%;
    margin-top: 1rem;
    margin-bottom: 1em;

  }
/*Class*/



/*Id*/

#borda {
    border: solid white 1px;
}
#branco {
    color:white;
}
#h1 {
    font-size: 2.5rem;
}
