body {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: inter;
    font-weight: 900;
    color: #FFF;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .borda {
    border: 2px solid #FFF;
    border-top: 0;
    border-left: 0;
    padding: 0 30px 20px 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
    /* qualquer coisa tira isso */ font-size: 40px; 
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .bordinha2 {
    border: 2px solid #823DB2;
    border-radius: 36px;
    padding: 10px 30px;
    background-color: #823DB2;
    margin-right: 30px;
  }
  .bordinha {
    border: 2px solid #FC366C;
    border-radius: 36px;
    padding: 10px 30px;
    background-color: #FC366C;
  }
  .margem {
    margin: 0 50px 0 10px;
  }
.demais-jogos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.lol-cup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cod-far {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tudão {
  display: flex;
  flex-direction: row;
}
.bom-de-guerra img{
  width: 100%;
  max-width: 300px;
  height: 410px;
  object-fit: cover;
  margin-right: 50px;
}
  .tudão img {
    border-radius: 10px;
  }
  .jogos {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    max-width: 450px;
    height: 180px;
    object-fit: cover;
  }
  .jogos img {
    border-radius: 10px;
  }