body {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:#ffffff;
    font-family:Inter;
    font-weight: 700;
}

button[type="submit"] {
    display: block;
    margin: 0.5em auto;
    background-color: #39EB29;
    border: none;
    border-radius: 36px;
    font-size:2.5rem;
    width: 0,5%;
    margin: 0.5em auto;
    min-width: 200px;
    color:#ffffff;
}
.transi {
    transition: transform 0.3s ease-out;
    text-shadow: 2px 2px 1px #1f1f1f;
  }
.transi:hover {
    transform: translateY(8px);
    background-color: rgb(31, 131, 22);
}

.painel{
    padding-top: 20px;
    width: 350px;
    padding-left: 130px;
    padding-bottom: 65px;
    padding-right: 40px;
    height: 240px;
}

.pequenas {
    width: 350px;
    padding-left: 125px;
    padding-bottom: 24px;
    height: 240px;
}

.Container {
    margin: 0.5rem 0;
    resize: none;
    background:rgba(1, 0, 0, 0.509);
    font-family:Inter;
    border: 0;
    border: none;
    border-radius: 36px;
    display: flex;
}

.img-tudo {
    display: block;
}
.duas-img {
    display:flex;
}

.texto {
    display: flex;
    flex-direction: column;
}

.h2 {
    font-size: 40px;
    text-align: center;
    padding-right: 40px;
    padding-top: 60px;
    color:#ffffff
}

.terciario {
    display: flex;
    flex-direction: column;
}