body {
    background-image: url("../../img/Background.png");
    background-repeat: no-repeat repeat;
    background-size: cover;
    font-family: inter;
    font-weight: 900;
    color: #FFF;
  }
.Container {
    display:flex;
    flex-direction: column;
}

.terciario {
    display: flex;
    flex-direction: column;

}

/*Css das Imagens*/
.painel{
    padding-top: 75px;
    width: 325px;
    padding-left: 137px;
    padding-bottom: 35px;
    height: 275px;
}

.pequenas {
    width: 275px;
    padding-left: 25px;
    padding-bottom: 24px;
    height: 175px;
}

/*Css dos Textos*/

.texto {
    display: flex;
    flex-direction: column;
}

.h2 {
    font-size: 32px;
    text-align: center;
    padding-right: 40px;
    padding-top: 60px;
    color:#ffffff
}