body {
    margin: 0;
    background-color: gray;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    display: flex;
    flex-direction: row;
}

span {
    margin: 30px 0 0 50px;
    font-size: 36px;
}
