body{
    background-color: rgb(11, 3, 3);
    background-size: 100%;
    background-image: url(https://img.elo7.com.br/product/zoom/1E45F37/painel-de-aniversario-vila-chaves-2-50x2-20m-decoracao-decoracao-de-festa.jpg);
    background-clip: url(Esse pato dançar muito bem  amorasinha.mp3);

}

main {
    text-align: center;
    color:rgb(255, 255, 255);
}

.tabuleiro div input {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid rgb(42, 223, 230);
    border-radius: 6px;
    font-size: 30px;
    cursor: pointer;
    background-size: 140%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}


    /* background-image: url('../img/vazio.png'); */

.containerPersonagens div input {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    font-size: 30px;
    cursor: pointer;
    background-size: 140%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}
